.profile-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.profile-content {
    padding: 20px;
}
.account-info {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

.account-info h2 {
    color: #333;
    margin-bottom: 10px;
}

.info {
    margin-top: 20px;
}

.info p {
    margin: 10px 0;
}

.profile-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.profile-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.profile-option i {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-option p {
    font-size: 16px;
    text-align: center;
}
.profile-container {
    position: relative;
}

.signout-option {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFA500; /* Orange color */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.profile-icon {
    margin-right: 10px; /* Adjust icon spacing */
}

.signout-text {
    font-size: 14px;
    color: #FFF; /* White text color */
}

.signout-option:hover {
    background-color: #FFD700; /* Lighter shade of orange on hover */
}
